body{
  background-color: black;
  overflow: hidden;
  color: wheat;
}
.btns{
  background-color: red;
  padding: 10px;
  
  display: inline-block;
}
/* .btns a{
margin-top: 20px;
} */

#loginbtn{
 color:rgb(4,226,4);
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 margin: 20px;
 /* margin-right: auto; */
}
#regbtn{
  color: rgb(4,226,4);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 }
/* .App {
  background-color: #f0f0f0;
} */
h1{
  text-align: center;
}
.todo-wrapper{
background-color: rgb(32, 32, 32);
padding: 2%; 
width: fit-content;
margin-left: auto;
margin-right: auto;
margin-top: 3%;
max-height: 80%;
overflow-y: auto;
box-shadow: 1px 2px 9px rgb(59, 58, 58);
}

.todo-input{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.todo-input-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 25px;
}
.todo-input-item label{
font-weight: bold;
margin-bottom: 10px;
}
.todo-input-item input{
  padding: 8px;
  border: none;
  width: 250px;
}
.todo-input-item input:focus{
  outline: 2px solid rgb(4,226,4);
  
}
.primarybtn{
  background-color:rgb(4, 226, 4);
  color: white;
  border:none;
  border-radius: 0px;
  margin-top: 25px;
  padding: 10px;
  width: 60px;
  cursor: pointer;
}
.primarybtn:hover{
  background-color: rgb(4, 160, 4);
  }
  .btn-area{
    margin-bottom: 15px;
  }
.secondarybtn{
  background-color:rgb(67, 68, 67);
  color: white;
  border:none;
  border-radius: 0px;
  margin-top: 25px;
  padding: 10px;
  width: fit-content;
  cursor: pointer; 
}

.btn-area .active{
  background-color: rgb(6, 226, 6);
}
.todo-list{
  display: flex;
  flex-direction: column;
}

.todo-list-item{
 background-color: rgb(54, 54, 54);
 display: flex;
 justify-content: space-between;
 padding: 25px;
 padding-bottom: 10px;
 padding-top: 10px;
 margin-bottom: 10px;
}
.todo-list-item h3{
  font-size: 25px;
  color: rgb(6, 226, 6);
  font-weight: bold;
  margin: 0; 
}
.todo-list-item p{
font-size: 14px;
color:gray ;
margin-top: 8px;

}
.icon{
  font-size: 25px;
  cursor: pointer;
}
.icon:hover{
  color: red;
}
.check-icon{
font-size: 25px;
margin-left: 10px;
color: rgb(4, 226, 4);
}
.check-icon:hover{
  color: rgb(4, 160, 4);
}